gradlew
gradlew.bat
gradle
.gradle
*.iml
*.iws
*.ipr
.vertx/
.xyz-hub/
.idea/
target/
file-uploads/
/static/
release.properties
/xyz-handler-http/src/test/resources/endpoint
*.log
*.jfr
/vault/
!/vault/README.md
