version: "3"
services:
    xyz-hub:
        image: "xyz-hub"
        build:
            context: "./"
        container_name: "xyz-hub"
        ports:
            - "8080:8080"
        depends_on:
            - "dynamodb"
            - "postgres"
            - "redis"
            - "xyz-http-connector"
            - "aws-localstack"
        environment:
            - SPACES_DYNAMODB_TABLE_ARN=arn:aws:dynamodb:dynamodb:000000008000:table/xyz-hub-local-spaces
            - CONNECTORS_DYNAMODB_TABLE_ARN=arn:aws:dynamodb:dynamodb:000000008000:table/xyz-hub-local-connectors
            - PACKAGES_DYNAMODB_TABLE_ARN=arn:aws:dynamodb:dynamodb:000000008000:table/xyz-hub-local-packages
            - SUBSCRIPTIONS_DYNAMODB_TABLE_ARN=arn:aws:dynamodb:dynamodb:000000008000:table/xyz-hub-local-subscriptions
            - TAGS_DYNAMODB_TABLE_ARN=arn:aws:dynamodb:dynamodb:000000008000:table/xyz-hub-local-tags
            - SETTINGS_DYNAMODB_TABLE_ARN=arn:aws:dynamodb:dynamodb:000000008000:table/xyz-hub-local-settings
    xyz-http-connector:
        image: "xyz-hub"
        build:
            context: "./"
        container_name: xyz-http-connector
        ports:
            - "9090:9090"
        environment:
            - LOCALSTACK_ENDPOINT=http://localstack:4566
            - JOBS_DYNAMODB_TABLE_ARN=arn:aws:dynamodb:dynamodb:000000008000:table/xyz-hub-local-jobs
        depends_on:
            - "dynamodb"
            - "postgres"
            - "aws-localstack"
        command: java -cp xyz-hub-service.jar com.here.xyz.httpconnector.CService
    postgres:
        image: "xyz-postgres"
        build:
            context: "./"
            dockerfile: "Dockerfile-postgres"
        container_name: "postgres"
        ports:
            - "5432:5432"
    redis:
        image: "redis"
        container_name: "redis"
        ports:
            - "6379:6379"
    dynamodb:
        image: "amazon/dynamodb-local"
        container_name: "dynamodb"
        ports:
            - "8000:8000"
        command: ["-jar", "DynamoDBLocal.jar", "-sharedDb"]
    swagger-ui:
        image: "swaggerapi/swagger-ui"
        container_name: "swagger-ui"
        ports:
            - "8081:8080"
            - "8888:8080"
        environment:
            - SWAGGER_JSON_URL=http://localhost:8080/hub/static/openapi/stable.yaml
    aws-localstack:
        image: "localstack/localstack:latest"
        container_name: "aws-localstack"
        hostname: localstack
        ports:
            - "4563-4599:4563-4599"
        environment:
            - SERVICES="s3,cloudwatch"
            - PERSISTENCE=0
            - DEBUG=0
            - AWS_ACCESS_KEY_ID=localstack
            - AWS_SECRET_ACCESS_KEY=localstack
            - AWS_DEFAULT_REGION=eu-west-1
        volumes:
            - ./mock-servers/localstack/docker-entrypoint-initaws.d/01-create-bucket.sh:/etc/localstack/init/ready.d/init-aws.sh
