version: "3"
services:
    xyz-hub:
        image: "xyz-hub"
        container_name: "xyz-hub"
        ports:
            - "8080:8080"
        depends_on:
            - "postgres"
            - "redis"
            - "xyz-http-connector"
        command: java -jar xyz-hub-service.jar
    xyz-http-connector:
        image: "xyz-hub"
        build:
            context: "./"
        container_name: xyz-http-connector
        ports:
            - "9090:9090"
        depends_on:
            - "postgres"
        command: java -cp xyz-hub-service.jar com.here.xyz.hub.HttpConnector
    postgres:
        image: "xyz-postgres"
        build:
            context: "./"
            dockerfile: "Dockerfile-postgres"
        container_name: "postgres"
        ports:
            - "5432:5432"
    redis:
        image: "redis"
        container_name: "redis"
        ports:
            - "6379:6379"
